.nav-bar {
    justify-content: space-between;
    background-color: #282c34;
    height: 80px;
}

.text-white {
    color: white;
}

.nav-link {
    margin: 0 20px;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    text-decoration: none;
}

.nav-link > a {
    text-decoration: none;
    color: white;
}

.nav-link > a:active {
    color: orange;
}

.user {
    height: 100%;
    margin: 0 30px;
    justify-content: center;
    align-items: center;
}

.log-out {
    cursor: pointer;
    outline: none;
    font-size: 1.1em;
    color: white;
    margin: 0 10px;
    background-color: transparent;
    border: orange 1px solid;
}

.log-out:hover {
    transition: .2s ease-out;
    background-color: orange;
}

.username, .log-out {
    font-size: 1.1em;
}